.App {
  text-align: center;
}

body {
  background-color: #E4E9BE;
  padding: 10px 20px 20px;
}

*{
  font-family: sans-serif;
}

hr {
  border: 1px solid #575757;
  margin: 30px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* From */
.from input,
textarea {
  border-radius: 5px;
  border: 1px solid #FDF6EC;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #fff;
}

/* Button */
.btn {
  padding: 8px 16px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background-color: #A2B38B;
  color: white;
}

.btn-login {
  background-color: #A2B38B;
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
}

.login-wrapper, p{
  text-align: center;
}

.btn-secondary {
  background-color: #ffffff;
  color: #F10086;
  font-weight: 500;
  border: 1px solid #5b7db1;
}

.btn-text {
  color: #A2B38B;
  background-color: transparent;
  padding: 0;
  margin: 12px 0;
}

hr {
  border: 1px solid #A2B38B;
  margin: 30px 0;
}

/* Form Create Playlist */
.form-playlist h3 {
  font-weight: 600;
}

.form-playlist .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
}

.form-playlist .form .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-playlist textarea {
  resize: none;
  height: 80px;
}

/* Search Playlist */
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

.search-wrapper .form .form-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.search-wrapper input {
  width: 100%;
}

/* Card Track Playlist */
.track-list {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  margin: 20px 0;
}

.card-track {
  width: 200px;
  border-radius: 8px;
  padding: 14px;
  background-color: #000;
}

.card-track:hover {
  transition: all 0.1s ease-out; 
  background-color: #FAFDD6;
}

.card-track .card-info {
  display: flex;
  flex-direction: column;
}

.card-track img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h4 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 12px 0;
}

.card-track .card-info p {
  font-size: 14px;
  color: #F10086;
  margin: 0;
}

.btn-select {
  width: 100%;
  margin-top: 20px;
}
